html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #000000;
    overflow: hidden;
}

.block {
    position: relative;
    width: 580px;
    height: 460px;
    margin: 10px 300px 20px 80px;
    z-index: 1;
}
.top {
    background: url(0.png) no-repeat ;
    background-size: auto;
    z-index: 1;
    position: relative;
    width: 400x380px;
    height: 350px;
    margin-top:  10px;;
    margin-left: 33%;
}

h1 {
    position: absolute;
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 64px;
    text-shadow: 2px 2px 6px #00b1c1, -2px -2px 6px #00b1c1, -2px 2px 6px #00b1c1, 2px -2px 6px #00b1c1;
    z-index: 1;
}

.block-1 {
    background: url(1.jpg) no-repeat 50% 50%;
    background-size: cover;
    box-shadow: 2px 2px 6px #00b1c1, -2px -2px 6px #00b1c1, -2px 2px 6px #00b1c1, 2px -2px 6px #00b1c1;
    z-index: 1;
}

.block-2 {
    background: url(2.jpg) no-repeat 50% 50%;
    background-size: cover;
    box-shadow: 2px 2px 6px #00b1c1, -2px -2px 6px #00b1c1, -2px 2px 6px #00b1c1, 2px -2px 6px #00b1c1;
    z-index: 1;
}

.block-3 {
    background: url(3.jpg) no-repeat 50% 50%;
    background-size: cover;
    box-shadow: 2px 2px 6px #00b1c1, -2px -2px 6px #00b1c1, -2px 2px 6px #00b1c1, 2px -2px 6px #00b1c1;
    z-index: 1;
}

.block-4 {
    background: url(5.jpg) no-repeat 50% 50%;
    background-size: cover;
    box-shadow: 2px 2px 6px #00b1c1, -2px -2px 6px #00b1c1, -2px 2px 6px #00b1c1, 2px -2px 6px #00b1c1;
    z-index: 1;
}

.block-5 {
    background: url(4.jpg) no-repeat 50% 50%;
    background-size: cover;
    box-shadow: 2px 2px 6px #00b1c1, -2px -2px 6px #00b1c1, -2px 2px 6px #00b1c1, 2px -2px 6px #00b1c1;
    z-index: 1;
}

.container {
    margin-top: 100px;
    margin-left: 200px;
    z-index: 1;
}

.block-1 h1,
.block-3 h1,
.block-5 h1 {
    bottom: 0;
    right: -60px;
    z-index: 1;
}

.block-2 h1,
.block-4 h1 {
    right: -60px;
    z-index: 1;
}
.video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    width: 122%;
     margin-right: 400px;
} 

.js {
    z-index: 1;
}
.cci{
    color: #fff;
}

