@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700);

html {
  cursor: crosshair;
}
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  display: table;
  line-height: 0;
  clear: both;
}

@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }

  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}

@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }

  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}

@-ms-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }

  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}

@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }

  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}

HTML {
  margin: 0;
  padding: 0;
}

BODY {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.2em;
  color: #313131;
  margin: 0;
  padding: 0;
}
@media (min-width: 1940px) {
  BODY {
    font-size: 125%;
  }
}
@media (min-width: 1680px) and (max-width: 1940px) {
  BODY {
    font-size: 105%;
  }
}
@media (min-width: 1280px) and (max-width: 1680px) {
  BODY {
    font-size: 95%;
  }
}
@media (max-width: 1280px) {
  BODY {
    font-size: 85%;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  BODY {
    font-size: 75%;
  }
}
@media (max-width: 767px) {
  BODY {
    font-size: 65%;
  }
}

DIV {
  margin: 0;
  padding: 0;
}

A {
  color: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;

  -webkit-touch-callout: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  display: block;
  line-height: 1em;
  text-shadow: black 0px 2px 10px;
}

body h1 {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 3.2em;
  color: white;
  letter-spacing: 1px;
}

body h2 {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 2.8em;
  color: white;
  letter-spacing: 1px;
}

body h3 {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 2.4em;
  color: white;
  letter-spacing: 0px;
}

body h4 {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 2em;
  color: white;
  letter-spacing: 0px;
}

body h5 {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 1.6em;
  color: white;
  letter-spacing: 0px;
}

body h6 {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 1.2em;
  color: white;
  letter-spacing: 0px;
}

p {
  max-width: 80em;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

input[type="text"],
input[type="password"] {
  padding: 10px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  border: 1px solid #acacac;
  border-radius: 3px;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  vertical-align: top;
}

select {
  padding: 8px 15px;
  border: 2px solid #222;
  border-radius: 3px;
}

select,
option {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}

option {
  padding: 5px 10px;
}

body {
  max-width: 100%;
  background-color: rgba(97, 92, 92, 0.568);
}

#particle-target {
  position: absolute;
  overflow: hidden;
}

#demo-menu {
  position: absolute;
  top: 2em;
  width: 350px;
  padding: 2em;
  background: rgba(255, 255, 255, 0.8);
  height: auto;
  display: inline-block;
  z-index: 20;
  -webkit-transition: all 200ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  -moz-transition: all 200ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  -o-transition: all 200ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  transition: all 200ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
}

#demo-menu.closed {
  right: -350px;
}

#demo-menu.open {
  right: 0px;
}

#min-max-tag {
  position: absolute;
  left: -40px;
  top: 10px;
  width: 40px;
  padding: 10px;
  font-size: 200%;
  line-height: 1em;
  background: rgba(255, 255, 255, 0.4);
  color: rgba(34, 34, 34, 0.6);
  height: auto;
  display: inline-block;
  z-index: 20;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0.5em;
  cursor: pointer;
  -webkit-transition: all 200ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  -moz-transition: all 200ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  -o-transition: all 200ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  transition: all 200ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) -0.2em 0em 2em;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) -0.2em 0em 2em;
  box-shadow: rgba(0, 0, 0, 0.75) -0.2em 0em 2em;
}

#min-max-tag:hover {
  background: rgba(255, 255, 255, 0.8);
  color: rgba(34, 34, 34, 0.8);
}
/**********/
.content-wrapper {
  display: flex;
  filter: var(--filter);
  z-index: 33;
}

.content {
  width: 70%;
  padding: 20px;
  filter: var(--filter);
  font-size: 22px;
  z-index: 33;
}
.content {
  width: 70%;
  padding: 20px;
  filter: var(--filter);
  font-size: 22px;
  z-index: 33;
}
.container {
  width: 800px;
  min-height: 500px;

  margin: 0 auto;

  filter: var(--filter);
  background-color: #ffffff2a;
  z-index: 33;
}

.header {
  display: flex;
  height: 150px;
  filter: var(--filter);
  background-color: #ffffff21;
  z-index: 33;
}

.title-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  background: url(https://surprisse.com/muscards/view/2019/10/20/h3u86oah40uo099mhdm615umf4ms4ndl.gif) no-repeat center
    center/cover;
  color: #fff;
  margin-right: 10px;
  filter: var(--filter);
  z-index: 33;
}
.title {
  position: relative;
  z-index: 1;
  filter: var(--filter);
  z-index: 33;
}
.title-block::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: var(--filter);
  z-index: 33;
}

.content p {
  line-height: 20px;
  z-index: 33;
}
.content img {
  padding: 10px 0;
  transition: top 1s ease-out 0.5s;
  cursor: pointer;
  filter: var(--filter);
  z-index: 33;
}

.content img:hover {
  transform: rotate3d(2, -1, -1, -0.2turn);
  z-index: 33;
}
